@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Merienda);

html,body{
    padding:0px;
    margin:0px;
    width: 970px;
    height: 100%
    }

h1,h2,h3,h4,h5,h6,p {
	padding:0px;
	margin:0px;
	}
h1{
	font-family: 'Merienda', cursive;
	text-align:center;
	font-size:24px;
    }
h2{
	text-align:center;
	font-size:14px;
	font-weight:normal;
	font-style:italic;
	}

.busqueda{
  position: absolute;
  font-size: 6em;
  /*bottom: -84em;*/
  top: 9em;
  left: 2px;
}
.now_temp{
  font-size: 4em;
}

.viento{
  font-size: 8em;
  bottom: 0em;
  right: : 2px;
}

.section_forecast{
  font-size: 5em;
}

#nav_movil{
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: 120px;
}

#nav_movil .icon_big img{
  width: 13%;
  padding: 1% 6% 1% 5%;
}

ul {
	list-style-type:none;
	padding:0px;
	margin:0px;
	text-align:center;
	}
li {
	width:95%;
	height:30px;
	border:1px solid grey;
	text-align:center;
	text-transform:uppercase;
	margin:4px;
	padding:4px;
	border-radius:5px;
	background: rgb(94,98,104); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(94,98,104,1) 0%, rgba(130,140,149,1) 55%, rgba(181,189,200,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(94,98,104,1)), color-stop(55%,rgba(130,140,149,1)), color-stop(100%,rgba(181,189,200,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(94,98,104,1) 0%,rgba(130,140,149,1) 55%,rgba(181,189,200,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(94,98,104,1) 0%,rgba(130,140,149,1) 55%,rgba(181,189,200,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(94,98,104,1) 0%,rgba(130,140,149,1) 55%,rgba(181,189,200,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(94,98,104,1) 0%,rgba(130,140,149,1) 55%,rgba(181,189,200,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e6268', endColorstr='#b5bdc8',GradientType=0 ); /* IE6-9 */
	box-shadow:0px 10px 15px rgba(0,0,0,0.4);
	}
ul li a{
	text-decoration:none;
	color:white;
	font-weight:bold;
    }

footer{
	text-align:center;
  font-size: 5em;
	}
/*FORMULARIO*/
#newSolicitudForm{
	margin:20px;
}
#newSolicitudForm form input[type=text], #newSolicitudForm form textarea{
	width: 90%;
	font-size:20px;
	padding:10px;
	height:20px;
	margin:auto;
	margin-left:5px;
	-webkit-box-shadow:0px 0px 25px rgba(0,0,0,0.3) inset;
    box-shadow:0px 0px 25px rgba(0,0,0,0.3) inset;
    border-radius: .6em;
	}
#newSolicitudForm form textarea{
	height:100px;
	}
#newSolicitudForm form input[type=submit]{
	width:50%;
	margin:20px;
	font-size:20px;
	padding: .3em;
    border-radius: .6em;
	}
#newSolicitudForm form .formleyenda{
	margin:5px;
	}

nav{
  display: none;
}
