@charset "utf-8";
/* CSS Document */


.portada{
  width: 100%;
}

div .now_temp{
  position: absolute;
  top: 0px;
  left: 10px;
  color: white;
}

div.viento{
  position: absolute;
  left: 100px;
  top: 5px;
  color: white;
}

img #flechaWind{
  width: 25px;
}

div.Dia{
  display: flex;
  font-weight: bold;
}

.col{
  padding-left: 15px;
  padding-right: 15px;
}

.tmp_frcst_max{
  color: red;
}

.tmp_frcst_min{
  color: blue;
}
